@import url(../css/font-awesome.min.css);
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600)";
/* line 5, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_frame.scss */
body {
  -webkit-user-select: none;
}

/* line 5, ../sass/_frame.scss */
button {
  -webkit-app-region: no-drag;
}

/* line 9, ../sass/_frame.scss */
#header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* Global elements */
/* line 3, ../sass/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/_layout.scss */
html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 14, ../sass/_layout.scss */
body {
  background: #d7dbe4;
  border-radius: 5px;
  cursor: default;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
}

/* line 23, ../sass/_layout.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
}

/* line 28, ../sass/_layout.scss */
button:hover {
  cursor: pointer;
}

/* line 29, ../sass/_layout.scss */
:focus {
  outline: 0;
}

/* line 30, ../sass/_layout.scss */
a {
  text-decoration: none;
}

/* line 33, ../sass/_layout.scss */
.page {
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
}
/* line 11, ../sass/_utils.scss */
.page::-webkit-scrollbar {
  background: none;
  width: 9px;
}
/* line 15, ../sass/_utils.scss */
.page::-webkit-scrollbar-button {
  display: none;
}
/* line 18, ../sass/_utils.scss */
.page::-webkit-scrollbar-track {
  display: none;
}
/* line 21, ../sass/_utils.scss */
.page::-webkit-scrollbar-track-piece {
  display: none;
}
/* line 24, ../sass/_utils.scss */
.page::-webkit-scrollbar-thumb {
  background: transparent;
  background-clip: content-box;
  border-radius: 10px;
  border: 2px solid transparent;
}
/* line 30, ../sass/_utils.scss */
.page::-webkit-scrollbar-corner {
  display: none;
}
/* line 33, ../sass/_utils.scss */
.page::-webkit-resizer {
  display: none;
}
/* line 38, ../sass/_utils.scss */
.page:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 44, ../sass/_utils.scss */
.page:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 41, ../sass/_layout.scss */
.btn {
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: #999999;
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  padding: 7px 12px;
  background: #286DC4;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #3076ce 0%, #175ab0 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

/* line 57, ../sass/_layout.scss */
.btn-action {
  background: #bb2720;
  border: 0;
  border-radius: 5px;
  color: #FFF;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  width: 155px;
}

/*
-- App */
/* line 79, ../sass/_layout.scss */
#header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #b9b9c1;
  height: 45px;
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to top, #efeff1, #fdfdfd);
  color: #51515d;
}
/* line 92, ../sass/_layout.scss */
#header h1 {
  font-size: 13px;
}
/* line 96, ../sass/_layout.scss */
#header .btn-set {
  position: absolute;
  left: 15px;
  top: 17px;
}
/* line 101, ../sass/_layout.scss */
#header .btn-set.right {
  right: 7px;
  left: initial;
  top: 5px;
}
/* line 109, ../sass/_layout.scss */
#header .btn-set.darwin {
  position: absolute;
  left: 15px;
  top: 17px;
}
/* line 114, ../sass/_layout.scss */
#header .btn-set.fs-darwin {
  right: 7px;
  left: initial;
  top: 5px;
}
/* line 120, ../sass/_layout.scss */
#header .btn-set.linux {
  right: 7px;
  left: initial;
  top: 15px;
}
/* line 125, ../sass/_layout.scss */
#header .btn-set.fs-linux {
  position: absolute;
  left: 15px;
  top: 5px;
}
/* line 131, ../sass/_layout.scss */
#header .btn-set.win32 {
  right: 7px;
  left: initial;
  top: 15px;
}
/* line 136, ../sass/_layout.scss */
#header .btn-set.fs-win32 {
  position: absolute;
  left: 15px;
  top: 5px;
}
/* line 142, ../sass/_layout.scss */
#header .btn-set:hover .btn-os {
  color: rgba(0, 0, 0, 0.8);
}
/* line 144, ../sass/_layout.scss */
#header .btn-set button {
  display: block;
  float: left;
  margin: 0 6px 0 0;
  background: #ababb5;
}
/* line 150, ../sass/_layout.scss */
#header .btn-set button.btn-os {
  border-radius: 30px;
  border: 0;
  color: transparent;
  display: inline-block;
  font-size: 10px;
  height: 12px;
  padding: 0;
  text-align: center;
  width: 12px;
}
/* line 162, ../sass/_layout.scss */
#header .btn-set button.close:hover {
  background: #e74c3c;
}
/* line 163, ../sass/_layout.scss */
#header .btn-set button.max:hover {
  background: #27ae60;
}
/* line 164, ../sass/_layout.scss */
#header .btn-set button.min:hover {
  background: #f1c40f;
}
/* line 165, ../sass/_layout.scss */
#header .btn-set button.fullscreen {
  color: #9d9daa;
  background: transparent;
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 0;
  display: block;
}
/* line 166, ../sass/_layout.scss */
#header .btn-set button.fullscreen::before {
  content: "\f065";
  font-family: FontAwesome;
  font-size: 1.5em;
  line-height: 0.2em;
  background: none;
  display: block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
/* line 175, ../sass/_layout.scss */
#header .btn-set button.fullscreen.active::before {
  content: "\f065";
}
/* line 178, ../sass/_layout.scss */
#header .btn-set button.fullscreen:hover {
  color: #b2b2b2;
}

/* line 184, ../sass/_layout.scss */
#notification {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 45px;
  height: 45px;
  left: 0px;
  right: 0px;
  font-size: 13px;
  font-weight: bold;
  line-height: 27px;
  padding: 9px 15px;
  background: #dbb756;
  color: #fff;
  border: 1px solid #000;
  border-top: none;
  display: none;
}
/* line 201, ../sass/_layout.scss */
#notification h1 {
  float: left;
}
/* line 205, ../sass/_layout.scss */
#notification .btn-grp {
  position: absolute;
  top: 6px;
  right: 15px;
}
/* line 211, ../sass/_layout.scss */
#notification .btn {
  background-image: none;
  background: rgba(0, 0, 0, 0.4);
}
/* line 216, ../sass/_layout.scss */
#notification .btn.chnglog {
  margin-right: 5px;
}

/* line 221, ../sass/_layout.scss */
#notification.blue {
  background: #4ec0b6;
}

/* line 225, ../sass/_layout.scss */
#notification.green {
  background: #6abe9a;
}

/* line 229, ../sass/_layout.scss */
#notification.yellow {
  background: #dbb756;
}

/* line 233, ../sass/_layout.scss */
#notification.orange {
  background: #f07f53;
}

/* line 237, ../sass/_layout.scss */
#notification.red {
  background: #f15153;
}

/* line 241, ../sass/_layout.scss */
#changelog-container {
  position: absolute;
  left: 0;
  top: 90px;
  height: 100%;
  width: calc(100% - 90px);
  padding: 30px;
  padding-left: 70px;
  z-index: 997;
  background: rgba(0, 0, 0, 0.93);
  display: none;
}
/* line 252, ../sass/_layout.scss */
#changelog-container .btn-close {
  position: absolute;
  z-index: 9999;
  top: 19px;
  left: 15px;
  cursor: pointer;
}
/* line 259, ../sass/_layout.scss */
#changelog-container .btn-close:hover {
  opacity: 0.8;
}
/* line 264, ../sass/_layout.scss */
#changelog-container h1 {
  font-weight: bold;
  font-size: 30px;
}
/* line 269, ../sass/_layout.scss */
#changelog-container h3 {
  font-style: italic;
  font-size: 15px;
}
/* line 274, ../sass/_layout.scss */
#changelog-container ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: square;
}
/* line 279, ../sass/_layout.scss */
#changelog-container ul li {
  margin: 10px 0;
  line-height: 20px;
}

/* line 287, ../sass/_layout.scss */
#side-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  width: 220px;
  position: absolute;
  top: 45px;
  padding: 0px;
  height: calc(100% - 45px);
  background: #2e323b;
  border-right: 1px solid black;
  font-family: 'Open Sans', 'Lucida Grande', sans-serif;
}
/* line 11, ../sass/_utils.scss */
#side-menu::-webkit-scrollbar {
  background: none;
  width: 9px;
}
/* line 15, ../sass/_utils.scss */
#side-menu::-webkit-scrollbar-button {
  display: none;
}
/* line 18, ../sass/_utils.scss */
#side-menu::-webkit-scrollbar-track {
  display: none;
}
/* line 21, ../sass/_utils.scss */
#side-menu::-webkit-scrollbar-track-piece {
  display: none;
}
/* line 24, ../sass/_utils.scss */
#side-menu::-webkit-scrollbar-thumb {
  background: transparent;
  background-clip: content-box;
  border-radius: 10px;
  border: 2px solid transparent;
}
/* line 30, ../sass/_utils.scss */
#side-menu::-webkit-scrollbar-corner {
  display: none;
}
/* line 33, ../sass/_utils.scss */
#side-menu::-webkit-resizer {
  display: none;
}
/* line 38, ../sass/_utils.scss */
#side-menu:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 44, ../sass/_utils.scss */
#side-menu:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 299, ../sass/_layout.scss */
#side-menu h4 {
  color: #abb0bd;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px 20px 0px 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 311, ../sass/_layout.scss */
#side-menu ul li {
  display: block;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 5px;
}
/* line 317, ../sass/_layout.scss */
#side-menu ul li a {
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: white;
  display: block;
  padding: 8px 10px 8px 20px;
}
/* line 322, ../sass/_layout.scss */
#side-menu ul li a:hover {
  background: #286DC4;
}
/* line 324, ../sass/_layout.scss */
#side-menu ul li a:hover i {
  color: #abb0bd;
}
/* line 329, ../sass/_layout.scss */
#side-menu ul li a i {
  padding-right: 15px;
  color: #696978;
}
/* line 338, ../sass/_layout.scss */
#side-menu ul li.active a,
#side-menu ul li.active a:hover {
  background: #286DC4;
  color: #FFF;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  cursor: default;
}
/* line 345, ../sass/_layout.scss */
#side-menu ul li.active a i,
#side-menu ul li.active a:hover i {
  color: #fff;
}

/* line 356, ../sass/_layout.scss */
.container {
  height: calc(100% - 45px);
  overflow: hidden;
  margin: 45px 0 0 220px;
  position: relative;
  padding: 20px;
}

/* line 364, ../sass/_layout.scss */
#file-list, #result-list {
  background: white;
  padding: 20px;
  width: 49.5%;
  color: #222;
  font-size: 0.7em;
  border: 1px solid #b9c0cf;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  float: left;
}
/* line 375, ../sass/_layout.scss */
#file-list#file-list, #result-list#file-list {
  margin-right: 1%;
}
/* line 378, ../sass/_layout.scss */
#file-list table, #result-list table {
  width: 100%;
}
/* line 380, ../sass/_layout.scss */
#file-list table td, #result-list table td {
  padding: 4px 0;
  border-bottom: 1px solid #eee;
}

/* line 389, ../sass/_layout.scss */
body.has-notification .container {
  height: calc(100% - 45px - 45px);
  margin: 90px 0 0 180px;
}
/* line 394, ../sass/_layout.scss */
body.has-notification #catalog-select {
  top: 90px;
  height: calc(100% - 45px - 45px);
}
/* line 399, ../sass/_layout.scss */
body.has-notification #notification {
  display: block;
}

/* line 404, ../sass/_layout.scss */
.loading {
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: calc(100% - 45px);
  left: 0;
  opacity: 1;
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 999;
}
/* line 416, ../sass/_layout.scss */
.loading.hidden {
  opacity: 0;
  z-index: 0;
  margin-left: 100%;
  pointer-events: none;
}
/* line 423, ../sass/_layout.scss */
.loading.hidden .spinner {
  -webkit-animation: none;
}
/* line 427, ../sass/_layout.scss */
.loading .wrapper {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 40px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}
/* line 436, ../sass/_layout.scss */
.loading .text {
  font-size: 22px;
}
/* line 438, ../sass/_layout.scss */
.loading .spinner {
  background: url(../images/spinner.svg) no-repeat 0 0;
  background-size: cover;
  display: block;
  height: 45px;
  margin: 10px auto;
  -webkit-animation: 1.05s spin  infinite linear;
  width: 45px;
}
/* line 448, ../sass/_layout.scss */
.loading .progressbar {
  display: none;
  height: 14px;
  width: 250px;
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid #FFF;
  overflow: hidden;
  padding: 3px;
}
/* line 459, ../sass/_layout.scss */
.loading .progressbar .progress {
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
  display: block;
  height: 14px;
  width: 0%;
  min-width: 5.5%;
  background: #FFF;
  border-radius: 40px;
}
/* line 470, ../sass/_layout.scss */
.loading .progressinfo {
  display: none;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
  bottom: -40px;
}
/* line 483, ../sass/_layout.scss */
.loading .btn-close {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 15px;
  left: 15px;
  -webkit-app-region: no-drag;
}
/* line 493, ../sass/_layout.scss */
.loading.withProgressBar .progressbar {
  display: block;
}
/* line 494, ../sass/_layout.scss */
.loading.withProgressBar .progressinfo {
  display: block;
}
/* line 495, ../sass/_layout.scss */
.loading.withProgressBar .spinner {
  display: none;
}
/* line 499, ../sass/_layout.scss */
.loading.cancellable .btn-close {
  display: block;
}
