// Dark Theme
$bgcolor: #d7dbe4;
$app-width: 100%;
$text-color: #FFF;
$nice-blue: #286DC4;

$maincolor:#2e323b;
$header-color:#efeff1;
$side-menu:#2e323b;

// Commons elements
$header_height: 45px;
$notification_height: 45px;
